<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Formulario</title>
</head>
<body>
    
    <!-- Contenedor principal con margen superior -->
    <div class="container mt-5">
        
        <!-- Fila centrada horizontalmente -->
        <div class="row justify-content-center">
            
            <!-- Columna que ocupa aproximadamente un tercio de la pantalla -->
            <div class="col-md-4">
                
                <!-- Título centrado y con margen inferior -->
                <h2 class="text-center mb-4" th:text="${titulo}">Titulo</h2>
                
                <!-- Formulario para crear un nuevo conejo -->
                <form th:action="@{${accion}}" th:object="${montaDTO}" method="post">
                    
                    <!-- Campo date para la fecha de la monta -->
                    <div class="mb-3">
                        <label for="fecha_monta" class="form-label">Fecha Monta</label>
                        <input type="date" th:field="*{fecha_monta}" class="form-control" id="fecha_monta" required>
                    </div>
                    
                    <!-- Campo númerico para la cantidad de montas -->
                    <div class="mb-3">
                        <label for="cantidad_montas" class="form-label">Cantidad Montas</label>
                        <input type="number" th:field="*{cantidad_montas}" class="form-control" id="cantidad_montas" step="1" required>
                    </div>
                    
                    <!-- Selecctor con lista de conejos hembras -->
                    <div class="mb-3">
                        <label for="estatus" class="form-label">Estatus Monta</label>
                        <select class="form-select" th:field="*{estatus}" required>
                            <option value="" selected>Selecciona una opción</option>
                            <option th:each="item : ${listaEstatus}"
                                    th:value="${item}"
                                    th:text="${item}">
                            </option>
                        </select>
                    </div>

                    <!-- Campo de texto para la nota de la monta -->
                    <div class="mb-3">
                        <label for="nota" class="form-label">Nota</label>
                        <input type="text" th:field="*{nota}" class="form-control" id="nota">
                    </div>
                            
                    <!-- Selecctor con lista de conejos hembras -->
                    <div class="mb-3">
                        <label for="hembra" class="form-label">Hembra</label>
                        <select class="form-select" th:field="*{hembra.id}" required>
                            <option value="" selected>Selecciona una hembra</option>
                            <option th:each="coneja : ${listaHembras}"
                                    th:value="${coneja.id}"
                                    th:text="${coneja.nombre}"
                                    th:selected="${coneja.id == montaDTO.hembra.id}">
                            </option>
                        </select>
                    </div>

                    <!-- Selecctor con lista de conejos machos -->
                    <div class="mb-3">
                        <label for="macho" class="form-label">Macho</label>
                        <select class="form-select" th:field="*{macho.id}" required>
                            <option value="" selected>Selecciona un macho</option>
                            <option th:each="conejo : ${listaMachos}"
                                    th:value="${conejo.id}"
                                    th:text="${conejo.nombre}"
                                    th:selected="${conejo.id == montaDTO.macho.id}">
                            </option>
                        </select>
                    </div>

                    <!-- Botón para enviar el formulario -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Guardar Monta</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>