.nav-link-custom {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    color: #333;
}

.nav-link-custom::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #0d6efd; /* azul Bootstrap */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
    width: 100%;
}

.nav-link-custom:hover {
    color: #0d6efd;
}
